{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block content %}

<ol class="breadcrumb">
  <li><a href="{% url 'device-list' %}">Devices</a></li>
  <li class="active">Device {{ object.pk }}</li>
</ol>


<h1>{{ object.name }}</h1>

<h2>Light is {{ status_message }}</h2>
{% if status_time %}
	<p><small>Last refreshed at {{ status_time }}</small></p>
{% endif %}

<div class="row">
	{% for form_info in button_forms %}
	<div class="col-md-3">
		<form action="{{ form_info.post_url }}" method="post" class="form">
		    {% csrf_token %}
		    {% bootstrap_form form_info.form %}
		    {% buttons %}
		        <button type="submit" class="btn btn-primary">
		            {{ form_info.btn_message }}
		        </button>
		    {% endbuttons %}
		</form>
	</div>
	{% endfor %}
	<div class="col-md-3">
		<form action="{{ color_form.post_url }}" method="post" class="form">
		    {% csrf_token %}
		    {% bootstrap_form color_form.form %}
		    {% buttons %}
		        <button type="submit" class="btn btn-primary">
		            {{ color_form.btn_message }}
		        </button>
		    {% endbuttons %}
		</form>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">Color history</div>
	<ul class="list-group">
	{% for color in object.color_set.all reversed %}
		<li class="list-group-item" style="background-color: {{ color.hex_string }}">
			{{ color.hex_string }} at {{ color.valid_at }}
		</li>
	{% empty %}
		<li class="list-group-item">( no colors to show )</li>
	{% endfor %}
	</ul>
</div>

{% endblock %}
